<h1>New Ask</h1>

<%= form_with model: @ask, url: asks_path, method: :post do |form| %>
  <div>
    <%= form.label :title, "What's on your mind?" %><br>
    <%= form.text_field :title %>
    <% @ask.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Ask" %>
  </div>
<% end %>

<% if @answer.present? %>
  <p><%= @answer %></p>
<% end %>

<%= link_to "index", root_path %>
